/*
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

 style.css

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
*/

$error-color: red;
$error-classes: required email postcode number range length;


/*
 
 Base styles
 - - - - - -

*/

@import 'https://necolas.github.io/normalize.css/4.1.1/normalize.css';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font: 1.2em/1.4 sans-serif;
}

h1, p {
	margin-bottom: .8em;
}

.container {
	margin: 2em auto;
	max-width: 40em;
	width: 90vw;
}


/*
 
 Form styles
 - - - - - -

*/

input {
	padding: .6em;
	width: 100%;
}

.form-row + .form-row {
	margin-top: 1em;
}


/*
 
 Validation styles
 - - - - - -

*/

/* Create some basic error styles */
[class*="form-error"] {
	label {
		color: $error-color;
	}

	input[type="text"] {
		border: 2px solid $error-color;
	}
}

/* Hide all field errors by default */
.error-info {
	display: none;
	margin-top: .2em;
	color: $error-color;
	font-size: .8em;
}

/* Generate error class names from sass list */
@each $class in $error-classes {
	.form-error-#{$class} {
		[data-error="#{$class}"] {
			display: block;
		}
	}
}